.images {
    position: relative;
  }
  
  .images .bottom-image {
    width: 100%;
    position: relative;
    z-index: 5;
    opacity: .9
  }
  
  .images .top-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .9;
    z-index: 4;
  }