*{
  overflow-x: hidden;
}
.images {
    position: absolute;
  }
  
  #about{
    background: rgb(255, 255, 255);
    margin-top: 5px;
    padding-top: px;
    padding-bottom: 1.5rem;
  }
  #about .section-intro {
    margin-bottom: 3rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3.6rem;
    position: relative;
}

  .intro-info {
    margin-top: 3rem;
    margin-right: -30px;
    margin-left: -30px;}
   
    img {
      max-width: 100%;
      height: auto;
      border:0;
      width: 78px;
      height: 78px;
      overflow-clip-margin: content-box;
      overflow: clip;
  }
  .port-img{
    padding: 120px;
    margin-top: 10px;
  }
  port-text{
    text-align:justify;
    font-size: 200vw;
  }
  .images .bottom-image {
    width: 100%;
    position: relative;
    z-index: 5;
    opacity: .9
  }
  
  .images .top-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .9;
    z-index: 4;
  }