body { 

  overflow-x: hidden !important;
}

.images {
    position: absolute;
  }

  #about{
    background: rgb(255, 255, 255);
    margin-top: 5px;
    padding-top: px;
    padding-bottom: 1.5rem;
  }
 
  #about .section-intro {
    margin-bottom: 3rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3.6rem;
    position: relative;
}

  .intro-info {
    margin-top: 3rem;
    margin-right: -30px;
    margin-left: -30px;}
   
 
  .port-img{
    margin-top: 10px;
    width: 220px;
    border: none;
   
  }
  port-text{
    border-top: 10px;
    text-align:justify;
    font-size: 200vw;
  }
  .images .bottom-image {
    width: 100%;
    position: relative;
    z-index: 5;
    opacity: .9
  }
  
  .images .top-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .9;
    z-index: 4;
  }
  @media (max-width:475px) {
    body{
      width: 100%;
      overflow-x: hidden;
    }
    }
  @media (max-width:640px) {
    body{
      max-width: 475px;
      overflow-x: hidden;
    }
  }
  @media (max-width:768px) {
    body{
      max-width: 640px;
      overflow-x: hidden;
    }
  
  }
 
  /*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #555555;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #34b7a7;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #222222;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f3f3f3;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #34b7a7;
}

 